.manga {
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    background-color: #fff;
    padding: rem(16);
  }

  &__body {
    display: flex;
    column-gap: rem(16);
  }
}

.synopsis {
  font-size: rem(18);
  white-space: pre-line;
}
