.relations {
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
  &__title {
    font-weight: 700;
    font-size: rem(28);
    border-bottom: rem(1) solid $lightBlueColor;
    padding-bottom: rem(8);
    margin-bottom: rem(16);
  }

  &__list_body {
    display: grid;
  }

  &__list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    column-gap: rem(40);
    row-gap: rem(20);
    height: rem(220);
    overflow: hidden;
    transition: ease 1s;

    @media (max-width: $pc) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobileSmall) {
      height: rem(420);
      grid-template-columns: 1fr;
    }

    &.active {
      height: 100%;
    }
  }
}
