.header {
  background-color: $lightBlueColor;
  color: $deepBlueColor;
  border-bottom: rem(3) solid $blueColor;
  padding: rem(4) 0;
  margin-bottom: rem(20);
}

.body {
  display: flex;
  align-items: center;
  column-gap: rem(6);
}

.logo {
  @include adaptiveValue('font-size', 26, 20, 0);
  letter-spacing: rem(1);
  a {
    color: $deepBlueColor;
    padding-right: rem(12);
    border-right: 1px solid $blueColor;
    transition: color ease 0.3s;
  }
  a:hover {
    color: $blueColor;
    transition: color ease 0.3s;
  }
}

.menu__navigation {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  font-size: rem(20);

  & * {
    transition: color ease 0.3s;
    padding: rem(4) rem(6);
  }

  & *.active {
    color: $blueColor;
  }

  & *:hover {
    color: $blueColor;
    transition: color ease 0.3s;
    cursor: pointer;
  }
}

.searchbar {
  position: relative;
}
