.item {
  display: flex;
  flex-direction: column;
  row-gap: rem(4);
  font-weight: 700;
  font-size: rem(18);

  img {
    background: url('/loading.gif') center center no-repeat;
    background-size: 30%;
    width: rem(150);
    height: rem(220);
    object-fit: cover;
  }

  &:hover .name {
    text-decoration: underline;
  }
}

.body {
  display: flex;
  column-gap: rem(8);
  p {
    font-size: rem(16);
    font-weight: 400;
    opacity: 0.8;
  }
}

.characters__block {
  max-width: rem(85);
  width: rem(85);
  max-height: rem(130);
  height: rem(130);
}

.name {
  color: $deepBlueColor;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  &:hover {
    text-decoration: underline;
  }
}
