.footer {
  background-color: $lightBlueColor;
  padding: rem(8) 0;
  margin-top: rem(20);

  &__body {
    display: flex;
    align-items: center;
    font-size: rem(20);
    justify-content: space-between;
  }
}

.github {
  display: flex;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__years {
    font-size: rem(16);
  }
}
