.mediaBlock {
  display: flex;
  flex-direction: column;
  row-gap: rem(12);
}

.image {
  min-width: rem(250);
  width: 100%;
  min-height: rem(370);
  object-fit: cover;
}

.buttons__block {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: rem(12);
  row-gap: rem(12);
  border: 1px solid $lightBlueColor;
}

.peoplesList {
  align-self: center;
  border-bottom: rem(1) dashed $deepBlueColor;

  &:hover {
    cursor: pointer;
  }
}
